.jumbotron{
    padding-top: 8rem;
    background-color: #FFCBCB;
}

/* skill */
.skill-box {
    margin-bottom: 25px;
}
.skill-box .progress {
    height: 20px;
    border-radius: 10px;
}
.skill-box .progress-bar {
    border-radius: 10px;
    background-color: #FFB1B1;
}
.skill-box h5 {
    margin-bottom: 10px;
    font-size: 14px;
}
.skill-box h5 i {
    margin-right: 10px;
}

section{
    padding:100px 100px;
}

/* navbar */
/* Hover effect untuk nav link */
.navbar-dark .navbar-nav .nav-link {
    transition: all 0.3s ease;
    position: relative;
    margin: 0 10px;
}

.navbar-dark .navbar-nav .nav-link:hover {
    color: #FFEAE3 !important;
    text-shadow: 0 0 10px #FFEAE3(0, 255, 157, 0.5);
}

/* Optional: Garis bawah animasi */
.navbar-dark .navbar-nav .nav-link::after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #ff6b6b;
    transition: width 0.3s;
    position: absolute;
    bottom: 0;
    left: 0;
}

.navbar-dark .navbar-nav .nav-link:hover::after {
    width: 100%;
}
/* footer */
footer {
    background-color: #ff6b6b;
    color: white;
    text-align: center;
    padding: 20px 0;
    position: relative;
    bottom: 0;
    width: 100%;
    font-family: 'Poppins', sans-serif;
}
.footer-container {
    max-width: 1200px;
    margin: auto;
}
.social-icons {
    margin-top: 15px;
}
.social-icons a {
    color: white;
    margin: 0 10px;
    font-size: 30px;
    transition: transform 0.3s ease;
}
.social-icons a:hover {
    transform: scale(1.2);
}

/* warna per icon */
.fa-html5 { color: #e34f26; }
.fa-css3-alt { color: #2965f1; }
.fa-js-square { color: #f7df1e; }
.fa-microsoft { color: #0078d4; }
.fa-palette { color: #ff6b6b; }

